<div class="wrap">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Sign in</p>
    <label for="username"> Username:    
      <input type="text" name="username" formControlName="username">
    </label>
    <label for="password"> Password:
      <input type="text" name="password" formControlName="password">
    </label>
    <div *ngIf="!form.valid && form.dirty"> Fill the missing fields</div>
    <button type="submit">Sign In</button>

    <div>
      Have no account yet?
      <a routerLink="/sign-up">Sign up</a>
      now
    </div>
  </form>
</div>
